body, h1, h2, h3, h4, h5, h6, hr, p,     
blockquote, /* structural elements 结构元素 */      
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */     
pre, /* text formatting elements 文本格式元素 */     
/*form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */     
th, td, /* table elements 表格元素 */     
img/* img elements 图片元素 */{ border:medium none; margin: 0; padding: 0; }    
/** 设置默认字体 **/     
body,button, input, select, textarea{font: 12px/1.5 '宋体',tahoma, Srial, helvetica, sans-serif; }    
h1, h2, h3, h4, h5, h6 { font-size: 100%; }    
em{font-style:normal;}/** 重置列表元素 **/    
ul, ol { list-style: none; }/** 重置超链接元素 **/     
a { text-decoration: none; color:#333;}     
a:hover { text-decoration: underline; color:#F40; }    
/** 重置图片元素 **/     
img{ border:0px;}     
/** 重置表格元素 **/     
table { border-collapse: collapse; border-spacing: 0; }     
  
.clear{ clear:both;}  
  
.fl{ float:left;}  
.fr{ float:right;}  
.h5{ height:5px; clear:both}  
.h10{ height:10px; clear:both}  
.h20{ height:20px; clear:both}  
  
.zhengwen{ font-size:12px; line-height:22px;}  
  
  
  
  
  
  
  
  
  
  
.clear{ clear:both;}  
.dede_pages{  
}  
.dede_pages ul{  
    float:left;  
    padding:12px 0px 12px 16px;  
}  
.dede_pages ul li{  
    float:left;  
    font-family:Tahoma;  
    line-height:17px;  
    margin-right:6px;  
    border:1px solid #E9E9E9;  
        list-style-type:none;  
}  
.dede_pages ul li a{  
    float:left;  
    padding:2px 4px 2px;  
    color:#555;  
    display:block;  
}  
.dede_pages ul li a:hover{  
    color:#690;  
    text-decoration:none;  
    padding:2px 4px 2px;  
}  
.dede_pages ul li.thisclass,  
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{  
    background-color:#F8F8F8;  
    padding:1px 2px 1px;  
    font-weight:bold;  
}  
.dede_pages .pageinfo{  
    line-height:21px;  
    padding:12px 10px 12px 16px;  
    color:#999;  
}  
.dede_pages .pageinfo strong{  
    color:#555;  
    font-weight:normal;  
    margin:0px 2px;  
}  