.head{position:absolute; height:100px; width:100%; background:#fff; border-bottom:1px solid #000;}
.left{position:absolute; width:180px; margin-top:101px; background:#fff; border-right:1px solid #000;}
.right{position:absolute; margin-top:101px; margin-left:180px;background:#fff; border-left:1px solid #000;}

table { border-collapse: collapse; border-spacing: 0; }